/* SearchBar.scss */

.flexCenter {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .search-bar {
    margin: 20px; /* Adjust margin as needed */
  }
  
  .search {
    display: flex;
    align-items: center;
  }
  
  .searchInput {
    position: relative;
  }
  
  .searchInput img {
    position: absolute;
    left: 10px; /* Adjust the icon's position as needed */
    top: 50%;
    transform: translateY(-50%);
  }
  
  .searchInput input {
    padding: 10px;
    padding-left: 30px; /* Ensure enough space for the icon */
    border: 1px solid #ccc; /* Adjust border styles as needed */
    border-radius: 5px;
    width: 300px; /* Adjust width as needed */
    outline: none;
  }
  
  button {
    margin-left: 10px; /* Adjust margin as needed */
    padding: 10px;
    background-color: #007bff; /* Adjust button color as needed */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3; /* Adjust hover color as needed */
  }