/* Profile.scss */

.profile-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  height: 100vh;
  background-image: url("profile.jpg"); /* Replace with your image URL */
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: center; 
}

.profile-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
  border-radius: 50px;
  background-color: white;
  opacity: 85%;
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  flex-grow: 1;
}

.gig-list {
  list-style-type: none;
  padding: 0;
}

.gig-list li {
  margin-bottom: 10px;
}

.back-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: centre;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 20px; /* Adjust the value for desired roundness */
  width: 95%; /* Adjust the width as needed */
  text-align: center; /* Center text horizontally */
}


.back-button:hover {
  background-color: #0056b3;
}
