.navbar {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  position: sticky;
  background-color: #e3e8aa;

  .container {
    width: 1420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;

    .link:hover {
      text-decoration: none;
    }

    .logo {
      display: flex;
      align-items: center;
    }
    
    .logo-text {
      margin-left: 10px; /* Adjust the margin as needed */
    }
    
    .logo-image {
      width: 60px;
      height: auto;
    }

    .h1{
      align-items: center;
    }

    .links {
      display: flex; 
      align-items: center;
      gap: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;

      span {
        white-space: nowrap;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0px;
          padding: 10px;
          background-color: #000000;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid rgb(0, 0, 0);
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 200px;
          font-weight: 300;
          color: rgb(255, 255, 255);
        }

        .account-btn {
          position: relative;
        }
      }

      // .options1{
      //   position: absolute;
      //   text-align: center;
      //   top: 62px;
      //   right: 17px;
      //   padding: 6px;
      //   background-color: #e3e8aa;
      //   border-radius: 10px;
      //   border: 1px solid rgb(0, 0, 0);
      //   display: flex;
      //   flex-direction: column;
      //   gap: 10px;
      //   width: 90px;
      //   font-weight: 500;
      //   color: rgb(0, 0, 0);
      // }

      button {
        color: rgb(255, 255, 255);
        padding: 8px 20px;
        border-radius: 5px;
        border: 1px solid rgb(0, 0, 0);
        background-color: black;
        cursor: pointer;

        // &:hover {
        //   background-color: rgb(255, 255, 255);
        //   border-color: rgb(0, 0, 0);
        //   color: rgb(0, 0, 0);
        // }
      }
    }
  }

  hr {
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }

  .menu {
    width: 1400px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
  }
}
